@import '../../node_modules/sass-material-colors/sass/_sass-material-colors.scss';

.Chat {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    .Messages{
        flex: 1;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;

        .Container{
            display: flex;
            width: 100%;
            min-height: min-content;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            align-content: flex-end;

            .Message{
                width: 100%;
                max-width: 100%;
                min-height: 60px;
                flex: 0 0 auto;
                padding: 3px;
                border-top: 1px solid material-color('grey', '600');

                &:first-child {
                    border-top: none;
                }
    
                .Avatar{
                    width: 60px;
                    height: 60px;
                    float: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
        
                .Nick{
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .Info {
                width: 100%;
                height: 30px;
                line-height: 30px;
                padding: 3px;
                vertical-align: middle;
                color: material-color('cyan', '600');
                border-top: 1px solid material-color('grey', '600');

                &:first-child {
                    border-top: none;
                }
            }

            .fromPlayer{
                background-color: material-color('cyan', '100');
            }
        }
    }

    .Input {
        width: 100%;
        display: flex;
        align-items: center;
    }
}