$headerSize: 1.5cm;

.Interface{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .Header{
        position: relative;
        width: 100%;
        height: $headerSize;
    }

    .UserInterface {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100% - #{$headerSize});

        .CardWrapper {
            display: block;
            width: 25cm;
            height: 15cm;

            & > *:first-child > *:first-child {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 !important;

                & > * {
                    width: 100%;
                }
            }
        }
    }
}