@import 'node_modules/sass-material-colors/sass/sass-material-colors';

html, body {
    background-color: material-color('grey', '300');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

#root {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}