.LoginAndRegisterForm {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .LoginAndRegisterForm > .card {
    position: relative;
    width: 15cm; }
  .LoginAndRegisterForm .role {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 0.5cm; }
.GameSession {
  flex: 1;
  display: flex;
  flex-direction: row; }
  .GameSession > * {
    height: 100%; }
  .GameSession .Video {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .GameSession .Video > video {
      width: 100%;
      min-width: 100%;
      max-width: 100%; }
  .GameSession .Chat {
    flex: 3; }
.Dialog {
  min-width: 25cm !important;
  max-width: 25cm !important;
  width: 25cm !important;
  min-height: 15cm !important;
  max-height: 15cm !important;
  height: 15cm !important; }
  .Dialog > *:first-child {
    display: flex;
    flex-direction: column;
    min-width: inherit !important;
    max-width: inherit !important;
    width: inherit !important;
    min-height: inherit !important;
    max-height: inherit !important;
    height: inherit !important; }
  .Dialog .Container {
    width: 100% !important;
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
.Interface {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .Interface .Header {
    position: relative;
    width: 100%;
    height: 1.5cm; }
  .Interface .UserInterface {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 1.5cm); }
    .Interface .UserInterface .CardWrapper {
      display: block;
      width: 25cm;
      height: 15cm; }
      .Interface .UserInterface .CardWrapper > *:first-child > *:first-child {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .Interface .UserInterface .CardWrapper > *:first-child > *:first-child > * {
          width: 100%; }
.Dialog {
  min-width: 25cm !important;
  max-width: 25cm !important;
  width: 25cm !important;
  min-height: 15cm !important;
  max-height: 15cm !important;
  height: 15cm !important; }
  .Dialog > *:first-child {
    display: flex;
    flex-direction: column;
    min-width: inherit !important;
    max-width: inherit !important;
    width: inherit !important;
    min-height: inherit !important;
    max-height: inherit !important;
    height: inherit !important; }
  .Dialog .Container {
    width: 100% !important;
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
.GoogleMap {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%; }
  .GoogleMap .Avatar {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
    border-radius: 15px; }
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
html, body {
  background-color: #e0e0e0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; }

#root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
