.LoginAndRegisterForm {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .LoginAndRegisterForm > .card {
    position: relative;
    width: 15cm; }
  .LoginAndRegisterForm .role {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 0.5cm; }
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.Chat {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .Chat .Messages {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse; }
    .Chat .Messages .Container {
      display: flex;
      width: 100%;
      min-height: min-content;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      align-content: flex-end; }
      .Chat .Messages .Container .Message {
        width: 100%;
        max-width: 100%;
        min-height: 60px;
        flex: 0 0 auto;
        padding: 3px;
        border-top: 1px solid #757575; }
        .Chat .Messages .Container .Message:first-child {
          border-top: none; }
        .Chat .Messages .Container .Message .Avatar {
          width: 60px;
          height: 60px;
          float: left;
          display: flex;
          justify-content: center;
          align-items: center; }
        .Chat .Messages .Container .Message .Nick {
          font-size: 20px;
          font-weight: bold; }
      .Chat .Messages .Container .Info {
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 3px;
        vertical-align: middle;
        color: #00acc1;
        border-top: 1px solid #757575; }
        .Chat .Messages .Container .Info:first-child {
          border-top: none; }
      .Chat .Messages .Container .fromPlayer {
        background-color: #b2ebf2; }
  .Chat .Input {
    width: 100%;
    display: flex;
    align-items: center; }
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.Container {
  padding: 0 !important; }

.GameSession {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 25px; }
  .GameSession > * {
    height: 100%; }
  .GameSession * {
    color: #757575; }
  .GameSession .Video {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 10px 0 0; }
    .GameSession .Video > video {
      width: 100%;
      min-width: 100%;
      max-width: 100%; }
  .GameSession .ChatAndTask {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .GameSession .ChatAndTask .TaskManager {
      width: 100%;
      margin-bottom: 25px; }
      .GameSession .ChatAndTask .TaskManager .Text {
        padding: 5px; }
.Dialog {
  min-width: 25cm !important;
  max-width: 25cm !important;
  width: 25cm !important;
  min-height: 15cm !important;
  max-height: 15cm !important;
  height: 15cm !important; }
  .Dialog > *:first-child {
    display: flex;
    flex-direction: column;
    min-width: inherit !important;
    max-width: inherit !important;
    width: inherit !important;
    min-height: inherit !important;
    max-height: inherit !important;
    height: inherit !important; }
  .Dialog .Container {
    width: 100% !important;
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
.Interface {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .Interface .Header {
    position: relative;
    width: 100%;
    height: 1.5cm; }
  .Interface .UserInterface {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 1.5cm); }
    .Interface .UserInterface .CardWrapper {
      display: block;
      width: 25cm;
      height: 15cm; }
      .Interface .UserInterface .CardWrapper > *:first-child > *:first-child {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 !important; }
        .Interface .UserInterface .CardWrapper > *:first-child > *:first-child > * {
          width: 100%; }
.Dialog {
  min-width: 25cm !important;
  max-width: 25cm !important;
  width: 25cm !important;
  min-height: 15cm !important;
  max-height: 15cm !important;
  height: 15cm !important; }
  .Dialog > *:first-child {
    display: flex;
    flex-direction: column;
    min-width: inherit !important;
    max-width: inherit !important;
    width: inherit !important;
    min-height: inherit !important;
    max-height: inherit !important;
    height: inherit !important; }
  .Dialog .Container {
    width: 100% !important;
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
.GoogleMap {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%; }
  .GoogleMap .Avatar {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
    border-radius: 15px; }
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
html, body {
  background-color: #e0e0e0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; }

#root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
