<!DOCTYPE html>

<head>
    <title>Train</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>
    <video id="video" autoplay></video>
    <script>
        var video = document.getElementById("video");
        var remoteStream;
        const socket = io("/watcher");

        var pc = new RTCPeerConnection();

        pc.onaddstream = (e) => {
            remoteStream = e.stream;
            video.src = URL.createObjectURL(e.stream);
        }

        pc.onicecandidate = (e) => {
            if (e.candidate) socket.emit("ice", {id: socket.id, candidate: e.candidate});
        }

        socket.on("offer", (desc) => {
            pc.setRemoteDescription(desc);
            pc.createAnswer()
            .then((desc) => {
                pc.setLocalDescription(desc);
                socket.emit("answer", { id: socket.id, desc });
            })
        });

        socket.on("ice", (candidate) => {
            pc.addIceCandidate(candidate);
        })

        socket.on("id", (id) => {
            socket.id = id
            socket.emit("askForOffer", socket.id);
        });

    </script>
</body>